
<%
@customers = Customer.all
%>
<div class="modal" id="orangeModalSubscription" tabindex="-1"  aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-notify modal-warning modal-lg">
    <!--Content-->
    <div class="modal-content">
      <!--Header-->
      <div class="modal-header text-center">
        <h2 class="modal-title white-text w-100 font-weight-bold py-2">Customer Search</h2>
        <button type="button" class="close h3" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true" class="white-text">&times;</span>
        </button>
      </div>
      <!--Body-->
      <div class="modal-body">
        <div class="md-form">
          <table id="customerLocateTable" class="table table-striped w-100" cellspacing="0">
          <br />
            <thead>
              <tr>
                <th class="text-center h4">
                  ID
                </th>
                <th class="text-left h4">
                  Name
                </th>
                <th class="text-center h4">
                  Go!
                </th>
              </tr>
            </thead>
          <tbody>
            <% @customers.each do |customer| %>
              <tr class="h3">
                <td class="text-center h5 align-middle" ><%= customer.id %></td>
                <td class="text-left h5 align-middle"><%= customer.full_name %></td>
                <td style="text-align: center">
                  <%= link_to edit_customer_path(customer.id) do %>
                    <i class="fal fa-arrow-alt-right text-primary"></i>
                  <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
          </table>
        </div>
      </div>
      <!--Footer-->
    </div>
    <!--/.Content-->
  </div>
</div>
