 <!-- Modal -->
 <%= form_with model: @pickupdates do |d| %>
   <div class="md-form h3">
     <input placeholder="Selected date" type="text" id="datepicker"
            class="form-control datepicker h3"
            name="pickupdates[:current]">
   </div>
 <% end %>