<%= form_for @config, remote: true do |f| %>
  <!-- Grid row -->
  <!-- Material form register -->
  <div class="d-flex justify-content-center">
    <div class="card w-75 mb-3 " >

      <h2 class="card-header info-color white-text text-center py-4">
        <strong>New Config</strong>
      </h2>

      <!--Card content-->
      <div class="card-body px-lg-5 pt-0">
        <div class="form-row" style="height: 80px;">

          <!-- Grid column -->
           <div class="col-md-6 ">
              <!-- Material input -->

              <div class="md-form form-group">
                  <%= f.text_field :key, id: 'configKey',
                                   autofocus: true, autocomplete: "configKey",
                                   class: "form-control", placeholder: "Key",
                                   style: "font-size: x-large" %>
                  <label for="configKey">Key</label>
             </div>
           </div>

              <!-- Grid column -->
           <div class="col-md-6">
                <!-- Material input -->
                <div class="md-form form-group">
                  <%= f.text_field :value, id: 'configValue',
                                   autofocus: true, autocomplete: "configValue",
                                   class: "form-control", placeholder: "Value",
                                   style: "font-size: x-large" %>
                  <label for="configValue">Value</label>
                </div>
           </div>
        </div>
      </div>

  <%= f.submit "Save New Config" %>
    </div>
  <% end %>
  </div>