<tbody>
  <% @configs.each do |c| %>
    <tr >
        <td class="text-left h5 align-middle">
          <%= link_to edit_configs_path(config.slug) do %>
            <span><%= config.slug.to_s %>
              <i class="far fa-external-link fa-1x "></i></span>
          <% end %>
        </td>
    </tr>
  <% end %>
</tbody>
</table>