<% content_for :title, "Configurations" %>
<div class="text-center h2 secondary">
Configuration Values
</div>
<table id="configsDataTable" class="table table-striped dataTable_index_tables" cellspacing="0">
  <thead>
  <tr>
    <th class="text-center h5">
      <b>Config ID</b>
    </th>
        <th class="text-center no-sort h5">
      <b>Key</b>
    </th>
        <th class="text-center no-sort h5">
      <b>Value</b>
    </th>
  </tr>
</thead>
<%= render 'configIndex' %>