<div class="card text-center">
    <div class="card-header">
      <h4>Customer Account</h4>
    </div>
    <div class="card-body">
      <h5 class="card-title">
  
        <div class="row">
          <div class="col text-right">
            <b>Created on:</b>
          </div>
          <div class="col text-left">
            <%= simple_date(@customer.created_at) %>
          </div>
        </div>
        <div class="row">
          <div class="col text-right">
            <b>Active ?</b>
          </div>
          <div class="col text-left">
            <%= @customer.active ? 'Y' : 'N' %>
          </div>
        </div>

        <div class="row">
          <div class="col text-right">
            <b>Last Transaction Date:</b>
          </div>
          <div class="col text-left">
            <%= simple_date(@customer.last_trans_date) %>
          </div>
        </div>
    </div>
  </div>