// Place all the styles related to the Items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
table {
  border-spacing: 0;
  border-collapse: collapse;
  height: 40px;
  border: 0px solid black;
  /*background-color: #f1f1c1;
  color: white;*/
}
td,
th {
  padding: 0;
}