.customer-search {
  color: #313437;
  background-color: #fff;
  padding: 50px 0;
}

.customer-search p {
  color: #7d8285;
  line-height: 1.5;
}

.customer-search h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 25px;
  line-height: 1.5;
  padding-top: 0;
  margin-top: 0;
  color: inherit;
}

.customer-search .intro {
  font-size: 16px;
  font-family: Montserrat;
  max-width: 500px;
  margin: 0 auto 25px;
}

.customer-search .intro p {
  margin-bottom: 35px;
}

.customer-search form {
  justify-content: center;
}

.customer-search form .form-control {
  background: #eff1f4;
  border: none;
  border-radius: 3px;
  box-shadow: none;
  outline: none;
  color: inherit;
  text-indent: 9px;
  height: 45px;
  margin-right: 10px;
  min-width: 250px;
}

.customer-search form .btn {
  padding: 16px 32px;
  border: none;
  background: none;
  box-shadow: none;
  text-shadow: none;
  opacity: 0.9;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 13px;
  letter-spacing: 0.4px;
  line-height: 1;
}

.customer-search form .btn:hover {
  opacity: 1;
}

.customer-search form .btn:active {
  transform: translateY(1px);
}

.customer-search form .btn-primary {
  background-color: #055ada !important;
  color: #fff;
  outline: none !important;
}

