

<% if flash.present? %>
  <div id='flash'>
    <script>
        toastr.options = {
            "closeButton": false,
            "debug": false,
            "newestOnTop": false,
            "progressBar": false,
            "positionClass": "toast-bottom-full-width",
            "preventDuplicates": false,
            "onclick": null,
            "showDuration": "300",
            "hideDuration": "1000",
            "timeOut": "2500",
            "extendedTimeOut": "1000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        };


        <% if flash[:success] %>
        var $toastContent = $('<span><%= flash[:success] %></span>');
        toastr.success($toastContent)
        <% end %>
        <% if flash[:info] %>
        var $toastContent = $('<span><%= flash[:info] %></span>');
        toastr.info($toastContent)
        <% end %>
        <% if flash[:danger] %>
        var $toastContent = $('<span><%= flash[:danger] %></span>');
        toastr.error($toastContent)
        <% end %>
    </script>
  </div>
<% end %>