<% if flash.present? %>
  <div id='flash'>
    <script>
        <% if flash[:success] %>

        <% end %>
        <% if flash[:info] %>

        <% end %>
        <% if flash[:danger] %>

        <% end %>
    </script>
  </div>
<% end %>