<div class="btn-group" role="group" aria-label="Navigation">
  <%= link_to 'Home', root_path, type: "button", class: "btn btn-warning" %>
  <%= link_to 'Back', :back, type: "button", class: "btn btn-info" %>
</div>