<nav class="navbar navbar-light navbar-expand-md navbar-nav">
  <div class="container">
    <a class="navbar-brand" href="#">Company Name</a>
    <div class="collapse navbar-collapse" id="navcol-1">
      <%= render 'shared/navbar_links' %>
    </div>
    <%= render 'shared/signin' %>
    </ul>
</nav>