  <div class="row">
    <div class="col-lg-4 text-left">
      <%= render 'shared/footerlinks' %>
    </div>
    <div class="col-lg-4 text-center">
      <strong><%= yield(:title)%></strong>
    </div>
    <div class="col-lg-4 text-right">
      <div class="btn-group" role="group" >
        <% if user_signed_in? %>
          <%= link_to 'Sign Out', destroy_user_session_path, type: "button", class: "btn btn-info" %>
        <%else %>
          <%= link_to 'Sign In', new_user_session_path, type: "button", class: "btn btn-warning" %>
        <%end %>
      </div>
    </div>
  </div>
