<div class="table-responsive">
  <table width="100%" >
    <tbody>
    <tr class="center-cell" >
      <td class="title">Consignment</td>
      <td class="spacer"></td>
      <td>
        <a class="btn btn-light action-button" role="button" href="/">Home</a>
      </td>
      <td class="spacer"></td>
      <td class="spacer"></td>
      <td class="mover-right">
        <span class="navbar-text actions">
          <a class="btn btn-light action-button align-items-end" role="button" href="/">Log Out</a>
        </span>
      </td>
    </tr>
    </tbody>
  </table>
</div>