<div class="table-responsive">
  <table class="table" >
    <tbody>
    <tr class="center-cell" >
      <td style="font-size: x-large">Consignment</td>
      <td class="spacer"></td>
      <td class="spacer"></td>
      <td class="spacer"></td>
      <td class="mover-right">
        <% if user_signed_in? %>
          <%= link_to('Logout', destroy_user_session_path, method: :delete, class: "btn btn-light action-button") %>
        <%else %>
          <%= link_to('Login', new_user_session_path, class: "btn btn-light action-button" )  %>
        <%end %>
      </td>
    </tr>
    </tbody>
  </table>
</div>