<div class="d-inline-block">
  <% if !pickup_date_expired %>
    <div class="d-inline h5">
      Current Pickup Date: <b><%= get_current_pickup_date %></b>
    </div>
  <% else %>
    <div class="d-inline h4">
      Pickup date has expired. <br><h5>Previous date was: (<b><%= get_current_pickup_date %></b>)</h5>
      <h5><%= link_to("Update Pickup Date", configs_path) %></h5>
    </div>
  <% end %>
  <div class="d-inline h5">
    Tax Rate 01: <b><%= get_tax01_rate %></b>
  </div>
</div>