<tbody>
<% @customers.each do |customer| %>
  <tr>
    <td><%= customer.id %></td>
    <td><%= customer.first_name %></td>
    <td><%= customer.phone %></td>
    <td><%= customer.email %></td>
  </tr>
<% end %>
</tbody>