  <div class="row h3">
    <div class="col text-left">
      <b>Customer Item List</b>
    </div>
    <div class="btn btn-outline-black">
      <%= link_to 'Take In Items', takein_items_path %>
      <i class="fas fas fa-plus pl-1"></i>
    </div>
    <div class="float-left">
      <% render 'shared/pickupDateNotice' %>
    </div>
  </div>

  <table id="customerItemsDataTable" class="table table-striped ordering footer" style="width:100%" >
    <thead>
      <tr>
        <th class="h5 text-center">
          Link to Item
        </th>
        <th class="h5 text-center">
          Take In Date
        </th>
        <th  class="h5">
          Description
        </th>
        <th class="text-center no-sort h5">
      <b>Gender</b>
      </th>
      <th class="text-center no-sort h5">
        <b>Type</b>
      </th>
      <th class="text-center no-sort h5">
        <b>Size</b>
      </th>
        <th  class="text-center h5">
          Price
        </th>
        <th  class="text-center h5">
        Status
        </th>
      </tr>
    </thead>
  <%= render 'customerItems' %>