  <div class="row h3">
    <div class="col text-left">
      <b>Customer Items - <%= @customer.full_name %></b>
      <h4><em>Account ID: <%=@customer.id.to_s %></em></h4>
    </div>
    <div class="btn btn-outline-black">
    </div>
    <div class="float-left">
      <% render 'shared/pickupDateNotice' %>
    </div>
  </div>

  <table id="customerItemsDataTable" class="table table-striped ordering footer" style="width:100%" >
    <thead>
      <tr>
        <th class="h5 text-center">
          Link to Item
        </th>
        <th class="h5 text-center">
          Take In Date
        </th>
        <th  class="h5">
          Description
        </th>
        <th class="text-center no-sort h5">
      <b>Gender</b>
      </th>
      <th class="text-center no-sort h5">
        <b>Type</b>
      </th>
      <th class="text-center no-sort h5">
        <b>Size</b>
      </th>
        <th  class="text-center h5">
          Price
        </th>
        <th  class="text-center h5">
        Status
        </th>
        <th  class="text-center h5">
          History
        </th>
      </tr>
    </thead>
  <%= render 'customerItems' %>