<%= render 'shared/navbar' %>
<h1>Editing Customer</h1>
<%= render 'customerEdit', customer: @customer %>
<div class="btn-group" role="group" aria-label="Navigation">
  <%= link_to 'Home', root_path, type: "button", class: "btn btn-warning" %>
  <%= link_to 'Back', :back, type: "button", class: "btn btn-info" %>
</div>
