<% content_for :title, 'Editing Customer' %>
<div class="modal-fade" role="dialog">
  <div class="modal-dialog">
    <div class="loginmodal-container">
      <div class="body" >
        <%= render 'customerEdit', customer: @customer %>
      </div>
    </div>
  </div>
</div>
