<% content_for :title, 'Customers' %>
<div class="text-left h3 secondary">
Customer List
</div>
<table id="customersDataTable" class="table table-striped dataTable_index_tables" >
  <thead>
    <tr>
      <th class="text-center h5">
       Cust Link
      </th>
      <th class="text-left h5">
        Name
      </th>
      <th class="text-center h5">
        View Items / Take in
      </th>
      <th class="text-center h5">
        Acct Created
      </th>
      <th class="text-center h5">
        Acct Updated
      </th>
      <th class="text-center h5">
        Agreement
      </th>
      <th class="text-left h5">
        Phone
      </th>
      <th class="text-left h5">
        Email
      </th>
      <th class="text-center h5">
        Province
      </th>

    </tr>
</thead>
  <%= render 'customerIndex' %>