<%= render 'shared/navbar' %>
<h3>Master Detail</h3>
<table class="table table-striped table-hover">
  <thead>
  <tr>
    <th>
      id
    </th>
  </tr>
  </thead>
  <%= render 'customerItems' %>
</table>