<div class="customer-search text-center">
  <div class="col-12-lg">
    <div class="intro">
      <h2 class="text-center">Search for a Customer</h2>
      <p class="text-center">
      <h3>Enter the Customer's last name and then click the Search button.</h3>
    </div>
    <form class="form-inline" method="post">
      <div class="form-group"><input class="form-control" type="email" name="email" placeholder="Customer Last Name"></div>
      <div class="form-group"><button class="btn btn-primary" type="submit">Search</button></div>
    </form>
  </div>
</div>
