<p id="notice"><%= notice %></p>

<p>
  <strong>Current pu date:</strong>
  <%= @pickup_date.current_pu_date %>
</p>

<%= link_to 'Edit', edit_pickup_date_path(@pickup_date) %> |
<%= link_to 'Back', pickup_dates_path %>
