    <div class="row" style="margin: 10px;">
        <div class="col" style="margin: 10px;">
            <div class="row" style="margin: 15px;">
                <div class="col">
                    <form class="form-inline my-2 my-lg-0">
                        <input id="item_auto_complete"/>
                    </form>
                </div>
            </div>
            <div class="row">
                <div class="col" style="background-color: #ffffff;">
                    <div class="table-responsive" id="saleItemsTable">
                        <table id="rightSaleItemsTable" class="table table-striped table-bordered" >
                            <thead>
                            <tr>
                              <th class="text-center no-sort h5"></th>
                              <th class="text-center no-sort h5"><b>Item ID</b></th>
                              <th class="text-left no-sort h5"><b>Description</b></th>
                              <th class="text-center no-sort h5"><b>Size</b></th>
                              <th class="text-center no-sort h5"><b>Price</b></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr >
                              <td class="text-center h5"></td>
                              <td class="text-center h5" ></td>
                              <td class="text-left h5" ></td>
                              <td class="text-center h5" ></td>
                              <td class="text-center h5" ></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col" style="margin: 18px;height: 100%;">
            <div class="row" style="height: 100px;">
                <div class="col">
                    <div class="card">
                        <div class="card-header orange"></div>
                        <div class="card-body">
                          <div class="card-text"><h2>Totals</h2></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                  <div class="card">
                  <div class="card-body" id="topCard">
                    <h6 class="text-muted card-subtitle mb-2"></h6>
                    <h5 id="item-total-panel" class="mb-0">Items: $</h5>
                    <h5 id="tax-total-panel" class="mb-0">Taxes: $</h5>
                    <h5 id="order-total-panel" class="mb-0">Order Total: $</h5>
                    <p class="card-text"></p>
                  </div>
                  </div>
                    <div class="card">
                        <div class="card-body">
                          <h4 class="card-title">Payment Method</h4>
                          <h6 class="text-muted card-subtitle mb-2">Select:</h6>
                          <div class="form-check"><input class="form-check-input" name="pay_radios" type="radio" id="formCheck-0"><label class="form-check-label" for="formCheck-0">Cash</label></div>
                          <div class="form-check"><input class="form-check-input" name="pay_radios" type="radio" id="formCheck-1"><label class="form-check-label" for="formCheck-1">Visa/Mastercard</label></div>
                          <div class="form-check"><input class="form-check-input" name="pay_radios" type="radio" id="formCheck-3" checked><label class="form-check-label" for="formCheck-3">Debit</label></div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <div class="card-body">
                          <h4 class="card-title">Remittance</h4>
                          <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                              <label>Cash Recieved :</label>
                              <div class="input-group-prepend">
                                <span class="input-group-text h4" id="basic-addon1">$
                                <input type="number" id="cashPortion" class="h4">
                                  </span>
                              </div>
                            </li>
                            <li class="list-group-item">
                              <div id="paymentLabel">
                                <label>Balance owing:</label>
                              </div>
                              <div class="input-group-prepend">
                                <span class="input-group-text h4" id="basic-addon1">$
                                <input type="number" id="paymentBalance" class="h4" readonly>
                                </span>
                              </div>
                            </li>
                            <li class="list-group-item">Vestibulum at eros
                              <div class="btn-group" role="group" >
                                <button id="btn-cancel-sale" class="btn btn-primary" type="button">Cancel</button>
                                <button id="btn-complete-sale" class="btn btn-primary" type="button">Complete Sale</button>
                              </div>
                            </li>
                          </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col" style="margin: 10px;"></div>
        <div class="col" style="margin: 18px;height: 100pc;">
            <div class="row" style="height: 40px;"></div>
            <div class="row">
                <div class="col">
                </div>
            </div>
            <div class="row">
            </div>
            <div class="row">
                <div class="col">
                </div>
            </div>
        </div>
    </div>
    <div id="tax_rate_a" data-var="<%= $tax_rate_a%>"></div>
    <div id="tax_rate_b" data-var="<%= $tax_rate_b%>"></div>
    <%= javascript_include_tag 'sale_items.js'%>