<% content_for :title, "Take In Station" %>
<br />
<div class="card-deck">
  <div class="card border-primary mb-3">
    <div class="card-body">

      <%= link_to new_customer_path do %>
         <h3 class="card-title">Add New Customer</h3>
         <p class="card-text">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu.</p>
      <%end %>
    </div>
    <div class="card-footer">
      <small class="text-muted">Last updated 3 mins ago</small>
    </div>
  </div>

  <div class="card border-danger mb-3">
    <div class="card-body">

      <%= link_to customers_path do %>
        <h3 class="card-title">Customer Search</h3>
        <p class="card-text">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu.</p>
      <%end %>
    </div>
    <div class="card-footer">
      <small class="text-muted">Last updated 3 mins ago</small>
    </div>
  </div>

  <div class="card border-dark mb-3">
    <div class="card-body">

      <%= link_to items_path do %>
        <h3 class="card-title">Items</h3>
            <p class="card-text">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu.</p>
        <%end %>
    </div>
    <div class="card-footer">
      <small class="text-muted">Last updated 3 mins ago</small>
    </div>
  </div>
</div>
<button type="button" class="btn btn-secondary material-tooltip-main" data-toggle="tooltip" data-html="true"
        title="<em>Tooltip</em> <u>with</u> <b>HTML</b>">
  MD tooltip with HTML
</button>