<% content_for :title, "Take In Station" %>
<%= js add_gritter("This is a notification just for you!") %>
<div class="card-deck toast-container">
  <div class="card border-primary mb-3">
    <div class="card-body">

      <%= link_to new_customer_path do %>
         <h3 class="card-title">Add New Customer</h3>
         <p class="card-text">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu.</p>
      <%end %>
    </div>
    <div class="card-footer">
      <small class="text-muted">Last updated 3 mins ago</small>
    </div>
  </div>

  <div class="card border-danger mb-3">
    <div class="card-body">

      <%= link_to customers_path do %>
        <h3 class="card-title">Customer Search</h3>
        <p class="card-text">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu.</p>
      <%end %>
    </div>
    <div class="card-footer">
      <small class="text-muted">Last updated 3 mins ago</small>
    </div>
  </div>

  <div class="card border-dark mb-3">
    <div class="card-body">

      <%= link_to items_path do %>
        <h3 class="card-title">Items</h3>
            <p class="card-text">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu.</p>
        <%end %>
    </div>
    <div class="card-footer">
      <small class="text-muted">Last updated 3 mins ago</small>
    </div>
  </div>
</div>
<br />
<div class="buttons">
  <a class="button protip" data-pt-title="Information" data-pt-icon="info-circled" data-pt-position="top">info-circled</a>
  <a class="button protip" data-pt-title="Help" data-pt-icon="help-circled" data-pt-position="top">help-circled</a>
  <a class="button protip" data-pt-title="OK" data-pt-icon="ok-circled" data-pt-position="top">ok-circled</a>
  <a class="button protip" data-pt-title="Trash" data-pt-icon="trash-empty" data-pt-position="top">trash-empty</a>
  <a class="button protip" data-pt-title="Tree" data-pt-icon="tree" data-pt-position="top">tree</a>
</div>

