<% content_for :title, "Take In Station" %>
<br />
<div class="card-deck">
  <div class="card">
    <div class="card-body">
      <h3 class="card-title">Add New Customer</h3>
      <%= link_to new_customer_path do %>
            <p class="card-text">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu.</p>
      <%end %>
    </div>
    <div class="card-footer">
      <small class="text-muted">Last updated 3 mins ago</small>
    </div>
  </div>

  <div class="card">
    <div class="card-body">
      <h3 class="card-title">Search</h3>
      <%= link_to customers_path do %>
            <p class="card-text">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu.</p>
      <%end %>
    </div>
    <div class="card-footer">
      <small class="text-muted">Last updated 3 mins ago</small>
    </div>
  </div>

  <div class="card">
    <div class="card-body">
      <h3 class="card-title">Items</h3>
      <%= link_to items_path do %>
            <p class="card-text">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu.</p>
      <%end %>
    </div>
    <div class="card-footer">
      <small class="text-muted">Last updated 3 mins ago</small>
    </div>
  </div>
</div>