
  <script type="text/javascript">
	  $(document).ready(function () {

		var url = "/items/pickups";

		  // prepare the data
		  var source =
			  {
				  datatype: "json",
				  datafields: [
			      { name: 'id', type: 'integer' },
					  { name: 'description', type: 'string' },
					  { name: 'size', type: 'string' },
					  { name: 'gender', type: 'string' }
				  ],
				  id: 'id',
				  url: url
			  };
		  var dataAdapter = new $.jqx.dataAdapter(source);

		  $("#pickupItems").jqxGrid(
			  {
				  width: 475,
				  source: dataAdapter,
				  columnsresize: true,
				  columns: [
			      { text: 'Item ID', datafield: 'id', width: 75 },
					  { text: 'Description', datafield: 'description', width: 250 },
					  { text: 'Size', datafield: 'size', width: 50 },
					  { text: 'Gender', datafield: 'gender', width: 75 }
				  ]
			  });

    // update the edited row when the user clicks the 'Save' button.
        $("#mybutton").click(function () {
          alert('hey there');
        });



	  });
  </script>

<div id='jqxWidget' style="font-size: 14px; font-family: Verdana; float: left;">
  <div id="pickupItems"></div>
</div>
<div id='jqxWidget' style="font-size: 14px; font-family: Verdana; float: left;">
  <div id="storeStock"></div>
</div>

<div>
  <FORM>
    <INPUT TYPE=BUTTON NAME="button" VALUE="Window" id="mybutton">
  </FORM>

</div>
