<script type="text/javascript">
	$(document).ready(function () {

    var url = "/items/pickups";
    var leftGrid = $('#jqxgrid');

	  var removeSelectedRows = function () {
		  var ROWINDEXES = leftGrid.jqxGrid('getselectedrowindexes');
		  console.log(ROWINDEXES)
		  leftGrid.jqxGrid('deleterow', ROWINDEXES);
	  };

	  leftGrid.on('bindingcomplete', function (event) {
      console.log('binding complete');
    });

    var source = {
        datatype: "json",
        datafields: [
          { name: 'id', type: 'integer' },
          { name: 'chk', type: 'string' },
          { name: 'description', type: 'string' },
          { name: 'size', type: 'string' },
          { name: 'gender', type: 'string' }
        ],
        id: 'id',
        url: url
      };

    var dataAdapter = new $.jqx.dataAdapter(source);

	  leftGrid.jqxGrid({
      width: 500,
		  theme: 'energyblue',
      source: dataAdapter,
      editable: true,
		  selectionmode: 'checkbox',
		  altrows: true,
        ready: function ()
        {
          // called when the Grid is loaded. Call methods or set properties here.
        },

      columns: [
        { text: 'Item ID', datafield: 'id', width: 75, editable: false },
        { text: 'Description', datafield: 'description', width: 250, editable: false },
        { text: 'Size', datafield: 'size', width: 50, editable: false },
        { text: 'Gender', datafield: 'gender', width: 75, editable: false }
      ]
    });

    var setBtnState = function () {
      var isValid = (selectedItems > 0);
      if (isValid) {
        $("#mybutton").jqxButton({ disabled: false});
      }
      else {
        $("#mybutton").jqxButton({ disabled: true });
      }
    };

    $("#mybutton").jqxButton({
      theme: 'energyblue',
      width: 200,
      height: 30
    });

    $('#mybutton').click(function () {
      removeSelectedRows();
    });

	});
</script>

<div id='jqxWidget' style="font-size: 14px; font-family: Verdana; float: left;">
  <div id="jqxgrid"></div>
</div>

<FORM>
  <INPUT TYPE=BUTTON NAME="button" VALUE="Window" id="mybutton">
</FORM>

