<style>
.jqx-widget-content {
  font-size: 18px !important;
}
</style>
<script type="text/javascript">
	$(document).ready(function () {

    var url = "/items/pickups";
    var leftGrid = $('#jqxgrid');
    var rightGrid = $('#jqxgridRight');

    var moveItemsToStoreStock = function() {
      // get selected rows
		  var ROWINDEXES = leftGrid.jqxGrid('getselectedrowindexes');
		  var row = getRowData(ROWINDEXES);
		  //var value = rightGrid.jqxGrid('addrow', null, row);
    };

    var getRowData = function(rowIndexes) {
      var rows = new Array();

      for (var i = 0; i < rowIndexes.length; i++) {
		    var rowID = $('#jqxgrid').jqxGrid('getrowid', rowIndexes[i]);
		    var datarow = generateRow(rowID);
		    //alert('datarow: ' + datarow["id"]);
        rows.push(datarow);
      }
	  };

		var generateRow = function (rowID) {
			// get row Data by ID.
			var data = leftGrid.jqxGrid('getrowdatabyid', rowID);
			//alert(data.id + " " + data.description + " " + data.size);
			var row = {};
			row["id"] = data.id;
			row["description"] = data.description;
			row["size"] = data.size;
			row["gender"] = data.gender;
			return row;
		};

	  var removeSelectedRows = function () {
		  var ROWINDEXES = leftGrid.jqxGrid('getselectedrowindexes');
		  alert('rowindexes : ' + ROWINDEXES);
		  leftGrid.jqxGrid('deleterow', ROWINDEXES);
		  leftGrid.jqxGrid('clearselection');
	  };

    var JSONsource = {
        datatype: "json",
        datafields: [
          { name: 'id', type: 'integer' },
          { name: 'chk', type: 'string' },
          { name: 'description', type: 'string' },
          { name: 'size', type: 'string' },
          { name: 'gender', type: 'string' }
        ],
        id: 'id',
        url: url
      };

    var JSONdataAdapter = new $.jqx.dataAdapter(JSONsource);

	  leftGrid.jqxGrid({
      width: 520,
		  theme: 'jqx-fresh',
      source: JSONdataAdapter,
      editable: true,
		  selectionmode: 'checkbox',
		  altrows: true,
        ready: function ()
        {
			    console.log('left grid is ready');
        },

      columns: [
        { text: 'Item ID', datafield: 'id', width: 75, editable: false },
        { text: 'Description', datafield: 'description', width: 250, editable: false },
        { text: 'Size', datafield: 'size', width: 50, editable: false },
        { text: 'Gender', datafield: 'gender', width: 75, editable: false }
      ]
    });

	  var data = new Array();
	  var description =
		  [
			  "Andrew", "Nancy", "Shelley", "Regina", "Yoshi", "Antoni", "Mayumi", "Ian", "Peter", "Lars", "Petra", "Martin", "Sven", "Elio", "Beate", "Cheryl", "Michael", "Guylene"
		  ];
	  var size =
		  [
			  "Fuller", "Davolio", "Burke", "Murphy", "Nagase", "Saavedra", "Ohno", "Devling", "Wilson", "Peterson", "Winkler", "Bein", "Petersen", "Rossi", "Vileid", "Saylor", "Bjorn", "Nodier"
		  ];
	  var gender =
		  [
			  "Black Tea", "Green Tea", "Caffe Espresso", "Doubleshot Espresso", "Caffe Latte", "White Chocolate Mocha", "Cramel Latte", "Caffe Americano", "Cappuccino", "Espresso Truffle", "Espresso con Panna", "Peppermint Mocha Twist"
		  ];
	  var id =
		  [
			  "2.25", "1.5", "3.0", "3.3", "4.5", "3.6", "3.8", "2.5", "5.0", "1.75", "3.25", "4.0"
		  ];
	  for (var i = 0; i < 200; i++) {
		  var row = {};
		  row["id"] = id[Math.floor(Math.random() * id.length)];
		  row["description"] = description[Math.floor(Math.random() * description.length)];
		  row["size"] = size[Math.floor(Math.random() * size.length)];
		  row["gender"] = gender[Math.floor(Math.random() * gender.length)];
		  data[i] = row;
	  }
	  var source =
		  {
			  localdata: data,
			  datatype: "array",
		    theme: 'jqx-fresh',

			  datafields:
				  [
					  { name: 'id', type: 'string' },
					  { name: 'description', type: 'string' },
					  { name: 'size', type: 'string' },
					  { name: 'gender', type: 'number' }
				  ]
		  };
	  var dataAdapter = new $.jqx.dataAdapter(source);

	  rightGrid.jqxGrid({
		    width: 500,
			  source: dataAdapter,
			  columnsresize: true,
        editable: true,
        selectionmode: 'checkbox',
        altrows: true,
        ready: function ()
        {
          console.log('right grid is ready');
        },
			  columns: [
				  { text: 'ID', datafield: 'id', width: 50 },
				  { text: 'Description', datafield: 'description', width: 120 },
				  { text: 'Size', datafield: 'size', width: 80 },
				  { text: 'Gender', datafield: 'gender', width: 80, cellsalign: 'right' }
			  ]
		  });

    var setBtnState = function () {
      var isValid = (selectedItems > 0);
      if (isValid) {
        $("#mybutton").jqxButton({ disabled: false});
      }
      else {
        $("#mybutton").jqxButton({ disabled: true });
      }
    };

    $("#mybutton").jqxButton({
      theme: 'jqx-fresh',
      width: 200,
      height: 40
    });

    $('#mybutton').click(function () {
		  moveItemsToStoreStock();
      //removeSelectedRows();
    });

	});
</script>
<div class="col-md-12">
  <div class="col-md-5">
    <div id='jqxWidget' style="font-size: 14px; font-family: Verdana; float: left;">
      <div id="jqxgrid"></div>
    </div>
  </div>
  <div class="col-md-2">
    <div id='space' style="font-size: 14px; font-family: Verdana; float: left;">
      <div id="space"></div>
    </div>
  </div>
  <div class="col-md-5">
    <div id='jqxWidgetRight' style="font-size: 14px; font-family: Verdana; float: left;">
      <div id="jqxgridRight"></div>
    </div>
  </div>

<FORM>
  <INPUT TYPE=BUTTON NAME="button" VALUE="Window" id="mybutton">
</FORM>

</div>