<style>
.jqx-widget-content {
  font-size: 18px !important;
}
</style>
<script type="text/javascript">
	$(document).ready(function () {

    var url = "/items/pickups";
    var leftGrid = $('#jqxgrid');
    var rightGrid = $('#jqxgridRight');
	  var rightData = new Array();
	  var description = ["Big pants", "Little pants", "No pants"];
	  var size = ["xs", "sm", "md"];
	  var gender = ["Woman", "Boy", "Girl"];
	  var id = ["12", "11", "13"];

    // load test data for right grid
	  for (var i = 0; i < 3; i++) {
		  var row = {};
		  row["id"] = id[Math.floor(Math.random() * id.length)];
		  row["description"] = description[Math.floor(Math.random() * description.length)];
		  row["size"] = size[Math.floor(Math.random() * size.length)];
		  row["gender"] = gender[Math.floor(Math.random() * gender.length)];
		  rightData[i] = row;
	  }

    var commitChanges = function(){
		  var jsondata = rightGrid.jqxGrid('exportdata', 'json');
      //var jsondata = rightGrid.jqxGrid('exportdata', 'json');
      alert('JSON data : ' + jsondata);
    };

    var moveItems = function(grid) {
		  var selectedRows = new Array();
      // get selected rows
		  var rowIdvals = grid.jqxGrid('getselectedrowindexes');
		  // retrieve the cell data
		  var selectedRowData = getRowData(rowIdvals, grid);
		  // duplicate each selected row to the other grid
		  to_grid = ((grid == leftGrid) ? rightGrid : leftGrid);
        {
          var value = to_grid.jqxGrid('addrow', null, selectedRowData);
        }
		  //remove selected items from left grid
		  removeSelectedRows(rowIdvals, grid);
    };

    var getRowData = function(rowIndexes,grid) {
      /* loop through selected rows, get their index numbers
        and data, then push the dataRow onto the rows array
       */
      var selectedRows = new Array();

      for (var i = 0; i < rowIndexes.length; i++) {
		    var rowID = grid.jqxGrid('getrowid', rowIndexes[i]);
		    var datarow = generateRow(rowID, grid);
        selectedRows.push(datarow);
      }
      return selectedRows;
	  };

		var generateRow = function (rowID,grid) {
			// get row Data by ID.
			var data = grid.jqxGrid('getrowdatabyid', rowID);
			//alert(data.id + " " + data.description + " " + data.size);
			var row = {};
			row["id"] = data.id;
			row["description"] = data.description;
			row["size"] = data.size;
			row["gender"] = data.gender;
			return row;
		};

	  var removeSelectedRows = function (rowIdvals,grid) {
	  	var numRows = rowIdvals.length;
      var rowIDs = new Array();

		 for (var i = 0; i < numRows; i++) {
		  rowID = grid.jqxGrid('getrowid', rowIdvals[i]);
		  rowIDs.push(rowID);
     }
		  grid.jqxGrid('deleterow', rowIDs);
	  };

    var JSONsource = {
        datatype: "json",
        datafields: [
          { name: 'id', type: 'number' },
          { name: 'description', type: 'string' },
          { name: 'size', type: 'string' },
          { name: 'gender', type: 'string' }
        ],
        id: 'id',
        url: url
      };

    var JSONdataAdapter = new $.jqx.dataAdapter(JSONsource);

	  leftGrid.jqxGrid({
      width: 520,
		  theme: 'jqx-fresh',
      source: JSONdataAdapter,
      editable: true,
		  selectionmode: 'checkbox',
		  altrows: true,
        ready: function ()
        {
			    console.log('left grid is ready');
        },
      columns: [
        { text: 'Item No.', datafield: 'id', width: 75, editable: false },
        { text: 'Description', datafield: 'description', width: 250, editable: false },
        { text: 'Size', datafield: 'size', width: 50, editable: false },
        { text: 'Gender', datafield: 'gender', width: 75, editable: false }
      ]
    });

	  var rightSource = {
			  localdata: rightData,
			  datatype: "array",
			  datafields:
				  [
					  { name: 'id', type: 'integer' },
					  { name: 'description', type: 'string' },
					  { name: 'size', type: 'string' },
					  { name: 'gender', type: 'number' }
				  ]
		  };

	  var rightDataAdapter = new $.jqx.dataAdapter(rightSource);

	  rightGrid.jqxGrid({
		    width: 500,
			  source: rightDataAdapter,
		    theme: 'jqx-fresh',
			  columnsresize: true,
        editable: true,
        selectionmode: 'checkbox',
        altrows: true,
        ready: function ()
        {
          console.log('right grid is ready');
        },
			  columns: [
				  { text: 'Item No.', datafield: 'id', width: 75, cellsalign: 'center' },
				  { text: 'Description', datafield: 'description', width: 250,cellsalign: 'left' },
				  { text: 'Size', datafield: 'size', width: 50,cellsalign: 'center' },
				  { text: 'Gender', datafield: 'gender', width: 75, cellsalign: 'center' }
			  ]
		  });

    var setBtnState = function () {
      var isValid = (selectedItems > 0);
      if (isValid) {
        $("#mybutton").jqxButton({ disabled: false});
      }
      else {
        $("#mybutton").jqxButton({ disabled: true });
      }
    };

    $("#btnMoveToRight").jqxButton({
      theme: 'jqx-fresh',
      width: 200,
      height: 40
    });

    $('#btnMoveToRight').click(function () {
		  moveItems(leftGrid);
      //removeSelectedRows();
    });

	  $("#btnMoveToLeft").jqxButton({
		  theme: 'jqx-fresh',
		  width: 200,
		  height: 40
	  });

	  $('#btnMoveToLeft').click(function () {
		  moveItems(rightGrid);
		  //removeSelectedRows();
	  });

	  $("#btnCommit").jqxButton({
		  theme: 'jqx-fresh',
		  width: 200,
		  height: 40
	  });

	  $('#btnCommit').click(function () {
		  commitChanges();
	  });

	});
</script>

<div class="row">
  <div class="col-md-12">
    <div class="col-md-5">
      <div id='jqxWidget' style="font-size: 14px; font-family: Verdana; float: left;">
        <div id="jqxgrid"></div>
      </div>
        <FORM>
          <INPUT TYPE=BUTTON NAME="button" class="btn btn-md btn-outline-primary" VALUE="Move Items >>" id="btnMoveToRight">
        </FORM>
    </div>
    <div class="col-md-2">
      <div id='space' style="font-size: 14px; font-family: Verdana; float: left;">
        <div id="space"></div>
      </div>
    </div>
    <div class="col-md-5">
      <div id='jqxWidgetRight' style="font-size: 14px; font-family: Verdana; float: left;">
        <div id="jqxgridRight"></div>
      </div>
    </div>
    <FORM>
      <INPUT TYPE=BUTTON NAME="button" class="btn btn-md btn-outline-primary" VALUE="<<< Move Items" id="btnMoveToLeft">
    </FORM>
  </div>
  <br/>
  <div class="row border border-light">
    <div class="col-md-12">
      <FORM>
        <INPUT TYPE=BUTTON NAME="button" class="btn btn-md btn-outline-danger" VALUE="Commit" id="btnCommit">
      </FORM>
  </div>
  </div>
</div>