
  <script type="text/javascript">
	  $(document).ready(function () {

		var url = "/items/pickups";

		  // prepare the data
		  var source =
			  {
				  datatype: "json",
				  datafields: [
			      { name: 'id', type: 'integer' },
			      { name: 'chk', type: 'string' },
					  { name: 'description', type: 'string' },
					  { name: 'size', type: 'string' },
					  { name: 'gender', type: 'string' }
				  ],
				  id: 'id',
				  url: url
			  };
		  var dataAdapter = new $.jqx.dataAdapter(source);

		  $("#jqxgrid").jqxGrid(
			  {
				  width: 500,
				  source: dataAdapter,
				  editable: true,
			    selectionmode: 'none',
				  columns: [
			      { text: ' ', datafield: 'chk', columntype: 'checkbox', width: 40 },
			      { text: 'Item ID', datafield: 'id', width: 75 },
					  { text: 'Description', datafield: 'description', width: 250 },
					  { text: 'Size', datafield: 'size', width: 50 },
					  { text: 'Gender', datafield: 'gender', width: 75 }
				  ]
			  });

// select or unselect rows when the checkbox is checked or unchecked.
        $("#jqxgrid").bind('cellendedit', function (event) {
          if (event.args.value) {
            $("#jqxgrid").jqxGrid('selectrow', event.args.rowindex);
          }
          else {
            $("#jqxgrid").jqxGrid('unselectrow', event.args.rowindex);
          }
        });

        $("#mybutton").jqxButton({
          theme: 'energyblue',
          width: 200,
          height: 30
        });


        $('#mybutton').click(function () {
          // get row ID.
          //var rowID = $('#jqxgrid').jqxGrid('getrowid', 0);
          // get row Data by ID.
          //var data = $('#jqxgrid').jqxGrid('getrowdatabyid', rowID);
          var rowindexes = $('#jqxgrid').jqxGrid('getselectedrowindexes');
          alert("row indexes : " + rowindexes);
        });

	  });
  </script>

<div id='jqxWidget' style="font-size: 14px; font-family: Verdana; float: left;">
  <div id="jqxgrid"></div>
</div>

<div>
  <FORM>
    <INPUT TYPE=BUTTON NAME="button" VALUE="Window" id="mybutton">
  </FORM>

</div>
