<style>
.jqx-widget-content {
  font-size: 18px !important;
}
</style>
<script type="text/javascript">
	$(document).ready(function () {

    var url = "/items/pickups";
    var leftGrid = $('#jqxgrid');
    var rightGrid = $('#jqxgridRight');
	  var rightData = new Array();
	  var description = ["Big pants", "Little pants", "No pants"];
	  var size = ["xs", "sm", "md"];
	  var gender = ["Woman", "Boy", "Girl"];
	  var id = ["2", "1", "3"];

	  for (var i = 0; i < 20; i++) {
		  var row = {};
		  row["id"] = id[Math.floor(Math.random() * id.length)];
		  row["description"] = description[Math.floor(Math.random() * description.length)];
		  row["size"] = size[Math.floor(Math.random() * size.length)];
		  row["gender"] = gender[Math.floor(Math.random() * gender.length)];
		  rightData[i] = row;
	  }

    var moveItemsToStoreStock = function() {
		  var selectedRows = new Array();
      // get selected rows
		  var ROWINDEXES = leftGrid.jqxGrid('getselectedrowindexes');
		  var selectedRows = getRowData(ROWINDEXES);
		  var value = rightGrid.jqxGrid('addrow', null, selectedRows);
		  alert('selectedRows : ' + selectedRows.length);
    };

    var getRowData = function(rowIndexes) {
      /* loop through selected rows, get their index numbers
        and data, then push the dataRow onto the rows array
       */
      var selectedRows = new Array();

      for (var i = 0; i < rowIndexes.length; i++) {
		    var rowID = $('#jqxgrid').jqxGrid('getrowid', rowIndexes[i]);
		    var datarow = generateRow(rowID);
        selectedRows.push(datarow);
      }
      return selectedRows;
	  };

		var generateRow = function (rowID) {
			// get row Data by ID.
			var data = leftGrid.jqxGrid('getrowdatabyid', rowID);
			//alert(data.id + " " + data.description + " " + data.size);
			var row = {};
			row["id"] = data.id;
			row["description"] = data.description;
			row["size"] = data.size;
			row["gender"] = data.gender;
			return row;
		};

	  var removeSelectedRows = function () {
		  var ROWINDEXES = leftGrid.jqxGrid('getselectedrowindexes');
		  leftGrid.jqxGrid('deleterow', ROWINDEXES);
		  leftGrid.jqxGrid('clearselection');
	  };

    var JSONsource = {
        datatype: "json",
        datafields: [
          { name: 'id', type: 'integer' },
          { name: 'chk', type: 'string' },
          { name: 'description', type: 'string' },
          { name: 'size', type: 'string' },
          { name: 'gender', type: 'string' }
        ],
        id: 'id',
        url: url
      };

    var JSONdataAdapter = new $.jqx.dataAdapter(JSONsource);

	  leftGrid.jqxGrid({
      width: 520,
		  theme: 'jqx-fresh',
      source: JSONdataAdapter,
      editable: true,
		  selectionmode: 'checkbox',
		  altrows: true,
        ready: function ()
        {
			    console.log('left grid is ready');
        },
      columns: [
        { text: 'Item ID', datafield: 'id', width: 75, editable: false },
        { text: 'Description', datafield: 'description', width: 250, editable: false },
        { text: 'Size', datafield: 'size', width: 50, editable: false },
        { text: 'Gender', datafield: 'gender', width: 75, editable: false }
      ]
    });

	  var rightSource = {
			  localdata: rightData,
			  datatype: "array",
			  datafields:
				  [
					  { name: 'id', type: 'string' },
					  { name: 'description', type: 'string' },
					  { name: 'size', type: 'string' },
					  { name: 'gender', type: 'number' }
				  ]
		  };

	  var rightDataAdapter = new $.jqx.dataAdapter(rightSource);

	  rightGrid.jqxGrid({
		    width: 500,
			  source: rightDataAdapter,
		    theme: 'jqx-fresh',
			  columnsresize: true,
        editable: true,
        selectionmode: 'checkbox',
        altrows: true,
        ready: function ()
        {
          console.log('right grid is ready');
        },
			  columns: [
				  { text: 'ID', datafield: 'id', width: 75, cellsalign: 'center' },
				  { text: 'Description', datafield: 'description', width: 250,cellsalign: 'left' },
				  { text: 'Size', datafield: 'size', width: 50,cellsalign: 'center' },
				  { text: 'Gender', datafield: 'gender', width: 75, cellsalign: 'center' }
			  ]
		  });

    var setBtnState = function () {
      var isValid = (selectedItems > 0);
      if (isValid) {
        $("#mybutton").jqxButton({ disabled: false});
      }
      else {
        $("#mybutton").jqxButton({ disabled: true });
      }
    };

    $("#mybutton").jqxButton({
      theme: 'jqx-fresh',
      width: 200,
      height: 40
    });

    $('#mybutton').click(function () {
		  moveItemsToStoreStock();
      removeSelectedRows();
    });

	});
</script>
<div class="col-md-12">
  <div class="col-md-5">
    <div id='jqxWidget' style="font-size: 14px; font-family: Verdana; float: left;">
      <div id="jqxgrid"></div>
    </div>
  </div>
  <div class="col-md-2">
    <div id='space' style="font-size: 14px; font-family: Verdana; float: left;">
      <div id="space"></div>
    </div>
  </div>
  <div class="col-md-5">
    <div id='jqxWidgetRight' style="font-size: 14px; font-family: Verdana; float: left;">
      <div id="jqxgridRight"></div>
    </div>
  </div>

<FORM>
  <INPUT TYPE=BUTTON NAME="button" VALUE="Window" id="mybutton">
</FORM>

</div>