<div class="row">
  <div class="col-md-12">
    <div class="col-md-5">
      <div id='jqxWidget' style="font-size: 14px; font-family: Verdana; float: left;">
        <div id="jqxgrid"></div>
      </div>
        <FORM>
          <INPUT TYPE=BUTTON NAME="button" class="btn btn-lg btn-outline-primary" VALUE="Move Items >>" id="btnMoveToRight">
        </FORM>
    </div>
    <div class="col-md-2">
      <div id='space' style="font-size: 14px; font-family: Verdana; float: left;">
        <div id="space"></div>
      </div>
    </div>
    <div class="col-md-5">
      <div id='jqxWidgetRight' style="font-size: 14px; font-family: Verdana; float: left;">
        <div id="jqxgridRight"></div>
      </div>
    </div>
    <FORM>
      <INPUT TYPE=BUTTON NAME="button" class="btn btn-md btn-outline-primary" VALUE="<<< Move Items" id="btnMoveToLeft">
    </FORM>
  </div>
  <br/>
  <div class="row border border-light">
    <div class="col-md-12">
      <FORM>
        <INPUT TYPE=BUTTON NAME="button" class="btn btn-md btn-outline-danger" VALUE="Commit" id="btnCommit">
      </FORM>
  </div>
  </div>
</div>