<script type="text/javascript">
	$(document).ready(function () {

    var url = "/items/pickups";
    var selectedItems = 0;
    var leftGrid = $('#jqxgrid');

	  var removeSelectedRows = function () {
		  var ROWINDEXES = leftGrid.jqxGrid('getselectedrowindexes');

		  //leftGrid.jqxGrid('deleterow', ROWINDEXES);
		  leftGrid.jqxGrid('clearselection');

	  };

	  leftGrid.on('bindingcomplete', function (event) {
      setBtnState();
      console.log('binding complete');
    });

    var source = {
        datatype: "json",
        datafields: [
          { name: 'id', type: 'integer' },
          { name: 'chk', type: 'string' },
          { name: 'description', type: 'string' },
          { name: 'size', type: 'string' },
          { name: 'gender', type: 'string' }
        ],
        id: 'id',
        url: url
      };

    var dataAdapter = new $.jqx.dataAdapter(source);

	  leftGrid.jqxGrid({
      width: 500,
      source: dataAdapter,
      editable: true,
      selectionmode: 'checkbox',
      columns: [
        { text: 'Item ID', datafield: 'id', width: 75, editable: false },
        { text: 'Description', datafield: 'description', width: 250, editable: false },
        { text: 'Size', datafield: 'size', width: 50, editable: false },
        { text: 'Gender', datafield: 'gender', width: 75, editable: false }
      ]
    });

	 leftGrid.on('rowselect', function (event)
	  {
		  var args = event.args;
		  alert(event.args.);
	  });
    // select or unselect rows when the checkbox is checked or unchecked.
	  leftGrid.bind('cellselect', function (event) {
      console.log(event);
      if (event.args.value) {
        $("#jqxgrid").jqxGrid('selectrow', event.args.rowindex);
        selectedItems++;
      }
      else {
        $("#jqxgrid").jqxGrid('unselectrow', event.args.rowindex);
        selectedItems--;
      }
      setBtnState();
    });

    var setBtnState = function () {
      var isValid = (selectedItems > 0);
      if (isValid) {
        $("#mybutton").jqxButton({ disabled: false});
      }
      else {
        $("#mybutton").jqxButton({ disabled: true });
      }
    };

    $("#mybutton").jqxButton({
      theme: 'energyblue',
      width: 200,
      height: 30
    });

    $('#mybutton').click(function () {

      removeSelectedRows();
    });

	});
</script>

<div id='jqxWidget' style="font-size: 14px; font-family: Verdana; float: left;">
  <div id="jqxgrid"></div>
</div>

<FORM>
  <INPUT TYPE=BUTTON NAME="button" VALUE="Window" id="mybutton">
</FORM>

