<% content_for :title, 'Editing Item' %>
<div class="modal-fade" role="dialog">
  <div class="modal-dialog">
    <div class="loginmodal-container">
      <div class="body" >
        <%= render 'itemEdit', item: @item %>
      </div>
    </div>
  </div>
</div>







