<%= render 'shared/navbar' %>
<h2>Items</h2>

<table class="table table-striped table-hover">
  <thead>
  <tr>
    <th>
      id
    </th>
    <th>
      Size
    </th>
    <th>
      Description
    </th>
  </tr>
  </thead>
<%= render 'itemIndex' %>
</table>
<br>

<%= link_to 'New Item', new_item_path %>
