<% content_for :title, "Items" %>
<div class="text-center h2 secondary">
Item List
</div>
<table id="itemsDataTable" class="table table-striped dataTable_index_tables" cellspacing="0">
  <thead>
  <tr>
    <th class="text-center h5">
      <b>Item ID</b>
    </th>
        <th class="text-center no-sort h5">
      <b>Gender</b>
    </th>
        <th class="text-center no-sort h5">
      <b>Size</b>
    </th>
        <th class="text-center no-sort h5">
      <b>Type</b>
    </th>
    <th class="text-left h5">
      <b>Description</b>
    </th>
    <th class="text-left no-sort h5">
      <b>Customer</b>
    </th>
    <th class="text-left no-sort h5">
      <b>Phone</b>
    </th>
    <th class="text-center no-sort h5">
      <b>Price</b>
    </th>
    <th class="text-center h5 no-sort">
    </th>
    <th class="text-center h5 no-sort">
    </th>
  </tr>
  </thead>
  <%= render 'itemIndex' %>
