<%= render 'shared/navbar' %>
<h3>Items</h3>

<table class="table table-striped table-hover">
  <thead>
  <tr>
    <th>
      id
    </th>
    <th>
      Customer id
    </th>
    <th>
      Customer Name
    </th>
    <th>
      Size
    </th>
    <th>
      Description
    </th>
    <th>
      Price
    </th>
  </tr>
  </thead>
<%= render 'itemIndex' %>
</table>
<div class="btn-group" role="group" aria-label="Navigation">
  <%= link_to 'Home', root_path, type: "button", class: "btn btn-warning" %>
  <%= link_to 'Back to Customer List', customers_path, type: "button", class: "btn btn-info" %>
</div>
