<% content_for :title, "Items" %>
<table id="itemsDataTable" class="table table-striped" cellspacing="0" width="100%">
  <thead>
  <tr>
    <th class="th-xl">
      id
    </th>
    <th class="th-xl">
      Customer id
    </th>
    <th class="th-xl">
      Customer Name
    </th>
    <th class="th-xl">
      Size
    </th>
    <th class="th-xl">
      Description
    </th>
    <th class="th-xl">
      Price
    </th>
  </tr>
  </thead>
<%= render 'itemIndex' %>
</table>
