<% content_for :title, "Items" %>
<style>
  .no-sort::after { display: none!important; }
  .no-sort::before { display: none!important; }
  .no-sort { pointer-events: none!important; cursor: default!important; }
</style>
<div class="text-center h3 secondary">
Item List
</div>
<table id="itemsDataTable" class="table table-striped " cellspacing="0" width="80%">
  <thead>
  <tr>
    <th class="text-center h5">
      <b>Item ID</b>
    </th>
    <th class="text-left h5">
      <b>Customer Name</b>
    </th>
    <th class="text-left no-sort h5">
      <b>Phone</b>
    </th>
    <th class="text-center no-sort h5">
      <b>Size</b>
    </th>
    <th class="text-left no-sort h5">
      <b>Description</b>
    </th>
    <th class="text-right no-sort h5">
      <b>Price</b>
    </th>
    <th class="text-center h5 no-sort">
    </th>
    <th class="text-center h5 no-sort">
    </th>
  </tr>
  </thead>
  <%= render 'itemIndex' %>
