<% content_for :title, 'Search Customer' %>
<div class="modal-fade" role="dialog">

    <div class="loginmodal-container">
      <div class="body" >
        <%= render 'shared/searchCustomer' %>
      </div>
    </div>

</div>
