<% content_for :title, "Items" %>
<title>Manage Donations</title>
<h2>Manage Donations</h2>
<style>
  .no-sort::after { display: none!important; }
  .no-sort::before { display: none!important; }
  .no-sort { pointer-events: none!important; cursor: default!important; }

</style>
<%= render 'pickupsIndex' %>