@mixin declare-font-face($path, $font-family, $font-filename, $svg, $font-weight: normal, $font-style: normal) {
  @font-face {
    font-family: '#{$font-family}';
    src: font-url('#{$path}/#{$font-filename}.eot');
    src: font-url('#{$path}/#{$font-filename}.eot?#iefix') format('embedded-opentype'),
    font-url('#{$path}/#{$font-filename}.woff') format('woff'),
    font-url('#{$path}/#{$font-filename}.ttf') format('truetype'),
    font-url('#{$path}/#{$font-filename}.svg##{$svg}') format('svg');
    font-weight: $font-weight;
    font-style: $font-style;
  }
}