/*
 * app/assets/stylesheets/application.css.scss
 *
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require css/bootstrap.css
 *= require css/mdb
 *= require css/addons/datatables
 *= require css/addons-pro/cards-extended
 *= require css/all
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "toastr";



@font-face {
  font-family: 'Ionicons';
  src:url('ion-icons/ionicons.eot');
  src:url('ion-icons/ionicons.eot?#iefix') format('embedded-opentype'),
  url('ion-icons/ionicons.svg#icomoon') format('svg'),
  url('ion-icons/ionicons.woff') format('woff'),
  url('ion-icons/ionicons.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Glyphicons Halflings';
  src:url('glyphicons/glyphicons-halflings-regular.eot');
  src:url('glyphicons/glyphicons-halflings-regular.svg') format('svg'),
  url('glyphicons/glyphicons-halflings-regular.woff') format('woff'),
  url('glyphicons/glyphicons-halflings-regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'simple-line-icons';
  src:url('simple-line/Simple-Line-Icons.eot');
  src:url('simple-line/Simple-Line-Icons.svg') format('svg'),
url('simple-line/Simple-Line-Icons.woff') format('woff'),
url('simple-line/Simple-Line-Icons.woff2') format('woff2'),
url('simple-line/Simple-Line-Icons.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


/** =================== MONTSERRAT =================== **/

/** Montserrat Thin **/
@font-face {
  font-family: "Montserrat";
  font-weight: 100;
  font-style: normal;
  src: url("montserrat/Montserrat-Thin.eot");
  src: url("montserrat/Montserrat-Thin.eot?#iefix") format('embedded-opentype'),
  url("montserrat/Montserrat-Thin.woff2") format("woff2"),
  url("montserrat/Montserrat-Thin.woff") format("woff");
}

/** Montserrat Thin-Italic **/
@font-face {
  font-family: "Montserrat";
  font-weight: 100;
  font-style: italic;
  src: url("montserrat/Montserrat-ThinItalic.eot");
  src: url("montserrat/Montserrat-ThinItalic.eot?#iefix") format('embedded-opentype'),
  url("montserrat/Montserrat-ThinItalic.woff2") format("woff2"),
  url("montserrat/Montserrat-ThinItalic.woff") format("woff");
}

/** Montserrat ExtraLight **/
@font-face {
  font-family: "Montserrat";
  font-weight: 200;
  font-style: normal;
  src: url("montserrat/Montserrat-ExtraLight.eot");
  src: url("montserrat/Montserrat-ExtraLight.eot?#iefix") format('embedded-opentype'),
  url("montserrat/Montserrat-ExtraLight.woff2") format("woff2"),
  url("montserrat/Montserrat-ExtraLight.woff") format("woff");
}

/** Montserrat ExtraLight-Italic **/
@font-face {
  font-family: "Montserrat";
  font-weight: 200;
  font-style: italic;
  src: url("montserrat/Montserrat-ExtraLightItalic.eot");
  src: url("montserrat/Montserrat-ExtraLightItalic.eot?#iefix") format('embedded-opentype'),
  url("montserrat/Montserrat-ExtraLightItalic.woff2") format("woff2"),
  url("montserrat/Montserrat-ExtraLightItalic.woff") format("woff");
}

/** Montserrat Light **/
@font-face {
  font-family: "Montserrat";
  font-weight: 300;
  font-style: normal;
  src: url("montserrat/Montserrat-Light.eot");
  src: url("montserrat/Montserrat-Light.eot?#iefix") format('embedded-opentype'),
  url("montserrat/Montserrat-Light.woff2") format("woff2"),
  url("montserrat/Montserrat-Light.woff") format("woff");
}

/** Montserrat Light-Italic **/
@font-face {
  font-family: "Montserrat";
  font-weight: 300;
  font-style: italic;
  src: url("montserrat/Montserrat-LightItalic.eot");
  src: url("montserrat/Montserrat-LightItalic.eot?#iefix") format('embedded-opentype'),
  url("montserrat/Montserrat-LightItalic.woff2") format("woff2"),
  url("montserrat/Montserrat-LightItalic.woff") format("woff");
}

/** Montserrat Regular **/
@font-face {
  font-family: "Montserrat";
  font-weight: 400;
  font-style: normal;
  src: url("montserrat/Montserrat-Regular.eot");
  src: url("montserrat/Montserrat-Regular.eot?#iefix") format('embedded-opentype'),
  url("montserrat/Montserrat-Regular.woff2") format("woff2"),
  url("montserrat/Montserrat-Regular.woff") format("woff");
}

/** Montserrat Regular-Italic **/
@font-face {
  font-family: "Montserrat";
  font-weight: 400;
  font-style: italic;
  src: url("montserrat/Montserrat-Italic.eot");
  src: url("montserrat/Montserrat-Italic.eot?#iefix") format('embedded-opentype'),
  url("montserrat/Montserrat-Italic.woff2") format("woff2"),
  url("montserrat/Montserrat-Italic.woff") format("woff");
}

/** Montserrat Medium **/
@font-face {
  font-family: "Montserrat";
  font-weight: 500;
  font-style: normal;
  src: url("montserrat/Montserrat-Medium.eot");
  src: url("montserrat/Montserrat-Medium.eot?#iefix") format('embedded-opentype'),
  url("montserrat/Montserrat-Medium.woff2") format("woff2"),
  url("montserrat/Montserrat-Medium.woff") format("woff");
}

/** Montserrat Medium-Italic **/
@font-face {
  font-family: "Montserrat";
  font-weight: 500;
  font-style: italic;
  src: url("montserrat/Montserrat-MediumItalic.eot");
  src: url("montserrat/Montserrat-MediumItalic.eot?#iefix") format('embedded-opentype'),
  url("montserrat/Montserrat-MediumItalic.woff2") format("woff2"),
  url("montserrat/Montserrat-MediumItalic.woff") format("woff");
}

/** Montserrat SemiBold **/
@font-face {
  font-family: "Montserrat";
  font-weight: 600;
  font-style: normal;
  src: url("montserrat/Montserrat-SemiBold.eot");
  src: url("montserrat/Montserrat-SemiBold.eot?#iefix") format('embedded-opentype'),
  url("montserrat/Montserrat-SemiBold.woff2") format("woff2"),
  url("montserrat/Montserrat-SemiBold.woff") format("woff");
}

/** Montserrat SemiBold-Italic **/
@font-face {
  font-family: "Montserrat";
  font-weight: 600;
  font-style: italic;
  src: url("montserrat/Montserrat-SemiBoldItalic.eot");
  src: url("montserrat/Montserrat-SemiBoldItalic.eot?#iefix") format('embedded-opentype'),
  url("montserrat/Montserrat-SemiBoldItalic.woff2") format("woff2"),
  url("montserrat/Montserrat-SemiBoldItalic.woff") format("woff");
}

/** Montserrat Bold **/
@font-face {
  font-family: "Montserrat";
  font-weight: 700;
  font-style: normal;
  src: url("montserrat/Montserrat-Bold.eot");
  src: url("montserrat/Montserrat-Bold.eot?#iefix") format('embedded-opentype'),
  url("montserrat/Montserrat-Bold.woff2") format("woff2"),
  url("montserrat/Montserrat-Bold.woff") format("woff");
}

/** Montserrat Bold-Italic **/
@font-face {
  font-family: "Montserrat";
  font-weight: 700;
  font-style: italic;
  src: url("montserrat/Montserrat-BoldItalic.eot");
  src: url("montserrat/Montserrat-BoldItalic.eot?#iefix") format('embedded-opentype'),
  url("montserrat/Montserrat-BoldItalic.woff2") format("woff2"),
  url("montserrat/Montserrat-BoldItalic.woff") format("woff");
}

/** Montserrat ExtraBold **/
@font-face {
  font-family: "Montserrat";
  font-weight: 800;
  font-style: normal;
  src: url("montserrat/Montserrat-ExtraBold.eot");
  src: url("montserrat/Montserrat-ExtraBold.eot?#iefix") format('embedded-opentype'),
  url("montserrat/Montserrat-ExtraBold.woff2") format("woff2"),
  url("montserrat/Montserrat-ExtraBold.woff") format("woff");
}

/** Montserrat ExtraBold-Italic **/
@font-face {
  font-family: "Montserrat";
  font-weight: 800;
  font-style: italic;
  src: url("montserrat/Montserrat-ExtraBoldItalic.eot");
  src: url("montserrat/Montserrat-ExtraBoldItalic.eot?#iefix") format('embedded-opentype'),
  url("montserrat/Montserrat-ExtraBoldItalic.woff2") format("woff2"),
  url("montserrat/Montserrat-ExtraBoldItalic.woff") format("woff");
}

/** Montserrat Black **/
@font-face {
  font-family: "Montserrat";
  font-weight: 900;
  font-style: normal;
  src: url("montserrat/Montserrat-Black.eot");
  src: url("montserrat/Montserrat-Black.eot?#iefix") format('embedded-opentype'),
  url("montserrat/Montserrat-Black.woff2") format("woff2"),
  url("montserrat/Montserrat-Black.woff") format("woff");
}

/** Montserrat Black-Italic **/
@font-face {
  font-family: "Montserrat";
  font-weight: 900;
  font-style: italic;
  src: url("montserrat/Montserrat-BlackItalic.eot");
  src: url("montserrat/Montserrat-BlackItalic.eot?#iefix") format('embedded-opentype'),
  url("montserrat/Montserrat-BlackItalic.woff2") format("woff2"),
  url("montserrat/Montserrat-BlackItalic.woff") format("woff");
}

/** =================== MONTSERRAT ALTERNATES =================== **/

/** Montserrat Alternates Thin **/
@font-face {
  font-family: "Montserrat Alternates";
  font-weight: 100;
  font-style: normal;
  src: url("montserrat/MontserratAlternates-Thin.eot");
  src: url("montserrat/MontserratAlternates-Thin.eot?#iefix") format('embedded-opentype'),
  url("montserrat/MontserratAlternates-Thin.woff2") format("woff2"),
  url("montserrat/MontserratAlternates-Thin.woff") format("woff");
}

/** Montserrat Alternates Thin-Italic **/
@font-face {
  font-family: "Montserrat Alternates";
  font-weight: 100;
  font-style: italic;
  src: url("montserrat/MontserratAlternates-ThinItalic.eot");
  src: url("montserrat/MontserratAlternates-ThinItalic.eot?#iefix") format('embedded-opentype'),
  url("montserrat/MontserratAlternates-ThinItalic.woff2") format("woff2"),
  url("montserrat/MontserratAlternates-ThinItalic.woff") format("woff");
}

/** Montserrat Alternates ExtraLight **/
@font-face {
  font-family: "Montserrat Alternates";
  font-weight: 200;
  font-style: normal;
  src: url("montserrat/MontserratAlternates-ExtraLight.eot");
  src: url("montserrat/MontserratAlternates-ExtraLight.eot?#iefix") format('embedded-opentype'),
  url("montserrat/MontserratAlternates-ExtraLight.woff2") format("woff2"),
  url("montserrat/MontserratAlternates-ExtraLight.woff") format("woff");
}

/** Montserrat Alternates ExtraLight-Italic **/
@font-face {
  font-family: "Montserrat Alternates";
  font-weight: 200;
  font-style: italic;
  src: url("montserrat/MontserratAlternates-ExtraLightItalic.eot");
  src: url("montserrat/MontserratAlternates-ExtraLightItalic.eot?#iefix") format('embedded-opentype'),
  url("montserrat/MontserratAlternates-ExtraLightItalic.woff2") format("woff2"),
  url("montserrat/MontserratAlternates-ExtraLightItalic.woff") format("woff");
}

/** Montserrat Alternates Light **/
@font-face {
  font-family: "Montserrat Alternates";
  font-weight: 300;
  font-style: normal;
  src: url("montserrat/MontserratAlternates-Light.eot");
  src: url("montserrat/MontserratAlternates-Light.eot?#iefix") format('embedded-opentype'),
  url("montserrat/MontserratAlternates-Light.woff2") format("woff2"),
  url("montserrat/MontserratAlternates-Light.woff") format("woff");
}

/** Montserrat Alternates Light-Italic **/
@font-face {
  font-family: "Montserrat Alternates";
  font-weight: 300;
  font-style: italic;
  src: url("montserrat/MontserratAlternates-LightItalic.eot");
  src: url("montserrat/MontserratAlternates-LightItalic.eot?#iefix") format('embedded-opentype'),
  url("montserrat/MontserratAlternates-LightItalic.woff2") format("woff2"),
  url("montserrat/MontserratAlternates-LightItalic.woff") format("woff");
}

/** Montserrat Alternates Regular **/
@font-face {
  font-family: "Montserrat Alternates";
  font-weight: 400;
  font-style: normal;
  src: url("montserrat/MontserratAlternates-Regular.eot");
  src: url("montserrat/MontserratAlternates-Regular.eot?#iefix") format('embedded-opentype'),
  url("montserrat/MontserratAlternates-Regular.woff2") format("woff2"),
  url("montserrat/MontserratAlternates-Regular.woff") format("woff");
}

/** Montserrat Alternates Regular-Italic **/
@font-face {
  font-family: "Montserrat Alternates";
  font-weight: 400;
  font-style: italic;
  src: url("montserrat/MontserratAlternates-Italic.eot");
  src: url("montserrat/MontserratAlternates-Italic.eot?#iefix") format('embedded-opentype'),
  url("montserrat/MontserratAlternates-Italic.woff2") format("woff2"),
  url("montserrat/MontserratAlternates-Italic.woff") format("woff");
}

/** Montserrat Alternates Medium **/
@font-face {
  font-family: "Montserrat Alternates";
  font-weight: 500;
  font-style: normal;
  src: url("montserrat/MontserratAlternates-Medium.eot");
  src: url("montserrat/MontserratAlternates-Medium.eot?#iefix") format('embedded-opentype'),
  url("montserrat/MontserratAlternates-Medium.woff2") format("woff2"),
  url("montserrat/MontserratAlternates-Medium.woff") format("woff");
}

/** Montserrat Alternates Medium-Italic **/
@font-face {
  font-family: "Montserrat Alternates";
  font-weight: 500;
  font-style: italic;
  src: url("montserrat/MontserratAlternates-MediumItalic.eot");
  src: url("montserrat/MontserratAlternates-MediumItalic.eot?#iefix") format('embedded-opentype'),
  url("montserrat/MontserratAlternates-MediumItalic.woff2") format("woff2"),
  url("montserrat/MontserratAlternates-MediumItalic.woff") format("woff");
}

/** Montserrat Alternates SemiBold **/
@font-face {
  font-family: "Montserrat Alternates";
  font-weight: 600;
  font-style: normal;
  src: url("montserrat/MontserratAlternates-SemiBold.eot");
  src: url("montserrat/MontserratAlternates-SemiBold.eot?#iefix") format('embedded-opentype'),
  url("montserrat/MontserratAlternates-SemiBold.woff2") format("woff2"),
  url("montserrat/MontserratAlternates-SemiBold.woff") format("woff");
}

/** Montserrat Alternates SemiBold-Italic **/
@font-face {
  font-family: "Montserrat Alternates";
  font-weight: 600;
  font-style: italic;
  src: url("montserrat/MontserratAlternates-SemiBoldItalic.eot");
  src: url("montserrat/MontserratAlternates-SemiBoldItalic.eot?#iefix") format('embedded-opentype'),
  url("montserrat/MontserratAlternates-SemiBoldItalic.woff2") format("woff2"),
  url("montserrat/MontserratAlternates-SemiBoldItalic.woff") format("woff");
}

/** Montserrat Alternates Bold **/
@font-face {
  font-family: "Montserrat Alternates";
  font-weight: 700;
  font-style: normal;
  src: url("montserrat/MontserratAlternates-Bold.eot");
  src: url("montserrat/MontserratAlternates-Bold.eot?#iefix") format('embedded-opentype'),
  url("montserrat/MontserratAlternates-Bold.woff2") format("woff2"),
  url("montserrat/MontserratAlternates-Bold.woff") format("woff");
}

/** Montserrat Alternates Bold-Italic **/
@font-face {
  font-family: "Montserrat Alternates";
  font-weight: 700;
  font-style: italic;
  src: url("montserrat/MontserratAlternates-BoldItalic.eot");
  src: url("montserrat/MontserratAlternates-BoldItalic.eot?#iefix") format('embedded-opentype'),
  url("montserrat/MontserratAlternates-BoldItalic.woff2") format("woff2"),
  url("montserrat/MontserratAlternates-BoldItalic.woff") format("woff");
}

/** Montserrat Alternates ExtraBold **/
@font-face {
  font-family: "Montserrat Alternates";
  font-weight: 800;
  font-style: normal;
  src: url("montserrat/MontserratAlternates-ExtraBold.eot");
  src: url("montserrat/MontserratAlternates-ExtraBold.eot?#iefix") format('embedded-opentype'),
  url("montserrat/MontserratAlternates-ExtraBold.woff2") format("woff2"),
  url("montserrat/MontserratAlternates-ExtraBold.woff") format("woff");
}

/** Montserrat Alternates ExtraBold-Italic **/
@font-face {
  font-family: "Montserrat Alternates";
  font-weight: 800;
  font-style: italic;
  src: url("montserrat/MontserratAlternates-ExtraBoldItalic.eot");
  src: url("montserrat/MontserratAlternates-ExtraBoldItalic.eot?#iefix") format('embedded-opentype'),
  url("montserrat/MontserratAlternates-ExtraBoldItalic.woff2") format("woff2"),
  url("montserrat/MontserratAlternates-ExtraBoldItalic.woff") format("woff");
}

/** Montserrat Alternates Black **/
@font-face {
  font-family: "Montserrat Alternates";
  font-weight: 900;
  font-style: normal;
  src: url("montserrat/MontserratAlternates-Black.eot");
  src: url("montserrat/MontserratAlternates-Black.eot?#iefix") format('embedded-opentype'),
  url("montserrat/MontserratAlternates-Black.woff2") format("woff2"),
  url("montserrat/MontserratAlternates-Black.woff") format("woff");
}

/** Montserrat Alternates Black-Italic **/
@font-face {
  font-family: "Montserrat";
  font-weight: 900;
  font-style: italic;
  src: url("montserrat/MontserratAlternates-BlackItalic.eot");
  src: url("montserrat/MontserratAlternates-BlackItalic.eot?#iefix") format('embedded-opentype'),
  url("montserrat/MontserratAlternates-BlackItalic.woff2") format("woff2"),
  url("montserrat/MontserratAlternates-BlackItalic.woff") format("woff");
}
