<p id="notice"><%= notice %></p>

<h1>Sales</h1>

<table class="blueTable">
<thead>
  <tr>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
</thead>
<tbody>
  <tr>
    <td></td style="width: 15%;">
    <td style="width: 40%;">
        <div class="card mb-3" >
          <h2 class="card-header warning-color-dark white-text text-center py-4">
            <strong>Update Item</strong>
          </h2>

          <!-- Left page -->
          <div class="card-body px-lg-5 pt-0">
            <br>
            <!-- Row 1 -->
            <div class="form-row">
              <!-- Left column -->
              <div class="col-lg-6 ">
                <!-- Gender -->

                </div>
              </div>

              <!-- Right column -->
              <div class="col-lg-6">
                <!-- Item Type -->
                <div class="md-form form-group">


                </div>
              </div>
            </div>

            <!-- Row 2 -->
            <div class="form-row">
                <!-- Left column - size -->
              <div class="col-lg-6">
                <div class="md-form form-group">


                </div>
              </div>

              <div class="col-lg-6">
                <!-- Right column - description -->
                <input id="countries"/>
                </div>
              </div>
            </div>

            <!-- Row 3 -->
            <div class="row">
              <!-- Left  -->
              <div class="col-lg-6">
                <div class="md-form form-group">


                </div>
              </div>
   	        </div>
               <div class="text-center">
            <button class="btn btn-primary waves-effect ", type="submit" >Update Item Record</button>
          </div>
    </td>
    <td style="width: 30%;">
    </td>
    <td style="width: 15%;">
      cell4_2
    </td>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
</tbody>
  </tr>
</table>
